<html>

<head>
	<link href='/css/base.css' rel='stylesheet'>
	<link href='/css/styles.css' rel='stylesheet'>
</head>

<body>

	<div class='col2 bar'>
		<div class='logo center'><a href='/'><img src="../img/logo.png"></a></div>
		<div class='nav pad4'>
			<ul class='galleries'>
				{% for item in site.categories.galleries %}
  					<li><a href='{{site.baseurl}}{{item.url}}'>{{item.title}}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>

	<div class='col10 content pad4'>
		{{content}}
	</div>

	<div class='footer col12 center inline pad4'>
		<small>All work copyright Dennis O'Keefe 2014</small>
	</div>

</body>

</html>